@charset "UTF-8";

header,main,footer,section,aside,body,span,h1,h2,svg,p,html,div,ul,li,a,img{
    margin: 0;
    padding: 0;
  /*  font-size: 12px;
    font-family: arial, "Microsoft YaHei", simsun, sans-serif;*/
}

body{
    background-color: white;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}


img{
    vertical-align: middle;
}

.section1{
    font-size: 12px;
    color: #fff;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clearFixed{
    *zoom: 1;
}
.clearFixed:after{
    content: '';
    clear: both;
    display: block;
}
