@charset "UTF-8";
header{
    width: 100%;
}
header .login{
    width: 100%;
    height: 86px;
}
header .login .main{
    width: 1120px;
  /*  height: 86px;*/
    margin: 0 auto;
    background-color: white;
}
header .login .main .login_img{
     float: left;
     width: 112px;
     height: 38px;
     margin-top: 24px;
    margin-right: 4px;
 }
header .login .main .login_img a{
    display: block;
    width: 112px;
    height: 38px;
}
header .login .main .login_img a{
    width: 112px;
    height: 38px;
}
header .login .main .login_img a img{
    width: 112px;
    height: 38px;
}
header .login .main .login_date{
    float: left;
    width: 100px;
    height: 40px;
    margin-top: 24px;
    margin-right: 84px;
}
header .login .main .login_date a{
   display: block;
    width: 100px;
    height: 40px;
}
header .login .main .login_date a img{
    display: block;
    width: 100px;
    height: 40px;
}
header .login .main .login_second {
    float: left;
    width: 462px;
    margin-top: 22px;
}
header .login .main .login_second .login_secondF{
    width: 462px;
    height: 34px;
    border: 1px solid #cccccc;
}
header .login .main .login_second .login_secondF .in{
    float: left;
    width: 382px;
    height: 26px;
   padding: 3px;
    border: 0;
    line-height: 34px;
    color: #000;
    font-size: 16px;
    outline: none;
}
header .login .main .login_second .login_secondF .sub{
    float: left;
    width: 74px;
    height: 34px;
    background-color: red;
    text-align: center;
    font-size: 16px;
    line-height: 34px;
    color: white;
    cursor: pointer;
    border: none;
    font-family: "Microsoft YaHei";
}
header .login .main .login_second .login_secondS{
    width: 462px;
    height: 18px;
   padding: 4px 0 0 0;
}
header .login .main .login_second .login_secondS li{
    float: left;
    padding-right: 10px;
    color: #888;
    font-size: 14px;
}
header .login .main .login_second .login_secondS li a{

    color: #888;
    font-size: 14px;
}
header .login .main .login_second .login_secondS li a:hover{
    color: red;
}


header .login .main .login_third {
     float: right;
     width: 281px;
     height: 90px;
    font-size: 12px;
 }
header .login .main .login_third li{
    float: left;
    width: 48px;
    margin-top: 18px;
    margin-left: 8px;
}
header .login .main .login_third li a{
    display: block;
    width: 48px;
    font-size: 12px;

}

header .login .main .login_third li img{
    width: 48px;
    height: 36px;

}
header .login .main .login_third li .login_thirdDiv{
    width: 48px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #333;
    font-size: 12px;

}
header .login .main .login_third li.first{
    width: 48px;
    margin-top: 18px;
    margin-left: 8px;
    font-size: 14px;
    color: #333;
}
header .login .main .login_third li.first .img{
    width: 48px;
    height: 36px;
}
header .login .main .login_third li.first .login_thirdDiv{
    width: 48px;
    height: 20px;
}
header .login .main .login_third li .login_thirdDiv:hover{
    color: red; 
}
header .login .main .login_third li.first .login_thirdDiv:hover{
    color: red;
}
/*header .login .main .login_third li.first .login_thirdDiv .span1:hover{
    color: red;
}
header .login .main .login_third li.first .login_thirdDiv .span2:hover{
    color: red;
}*/
header .nav{
     width: 100%;
    background-color: red;
 }
header .nav .center{
     width: 1120px;
    height: 32px;
     margin: 0 auto;
    border-top: 2px solid red;

 }
header .nav .center li {
    float: left;

}
header .nav .center li a{
     display: block;
     font-size: 14px;
     line-height: 32px;
     color: white;
     padding-right: 20px;
     padding-left: 20px;
     cursor: pointer;
 }
header .nav .center li a:hover{
    color: #dddddd;
    opacity: 0.5;
}
header .nav .center li.first a{
    color: red;
    background-color: white;
}
/*内容区域样式设置开始*/
.content{
    width: 1120px;
    margin: 20px auto;
}
.content .section1{
    width: 1120px;
    overflow: hidden;

}
.content .section1 .sec_F{
    float: left;
    width: 610px;
    height: 485px;
    margin-right: 20px;

}



.content .section1 .sec_F .sec_Fbox{
    width: 610px;
    height: 312px;
    position: relative;

}
.content .section1 .sec_F .sec_Fbox a{
    display: block;
    width: 610px;
    height: 312px;

}
.content .section1 .sec_F .sec_Fbox a img{
    width: 610px;
    height: 312px;
}
.content .section1 .sec_F .sec_Fbox .small{
    width: 590px;
    height: 48px;
    padding-top: 12px;
    padding-left: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background-color: #333333;
}
.content .section1 .sec_F .sec_Fbox .small span{
    height: 35px;
    font-size: 16px;
    line-height: 35px;
}
.content .section1 .sec_F .sec_Fbox .small img{
    width: 42px;
    height: 35px;
}
.content .section1 .sec_F .sec_Ful{
    width: 630px;
   margin-top: 20px;
    height: 153px;
}
.content .section1 .sec_F .sec_Ful li{
     float: left;
     margin-right: 20px;
     width: 190px;
     height: 153px;
 }
.content .section1 .sec_F .sec_Ful li.last{
    margin-right: 0px;
}
.content .section1 .sec_F .sec_Ful li .liF{
    width: 190px;
    height: 123px;
    position: relative;
}
.content .section1 .sec_F .sec_Ful li .liF a{
    display: block;
    width: 190px;
    height: 123px;
}
.content .section1 .sec_F .sec_Ful li .liF a img{
    width: 190px;
    height: 123px;

}
.content .section1 .sec_F .sec_Ful li .liF .liS{
    width: 80px;
    padding-left: 110px;
    height: 24px;
  background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}
.content .section1 .sec_F .sec_Ful li .liF .liS span{
    height: 24px;
    line-height: 24px;
}
.content .section1 .sec_F .sec_Ful li .title{
    width: 180px;
    padding-left: 10px;
    height: 30px;
   line-height: 30px;
    color: #888;
    font-weight: 600;
}
.content .section1 .sec_S{
    float: left;
    width: 470px;
    height: 485px;
}
.content .section1 .sec_S .sec_sbig{
    float: left;
    width: 190px;
    height: 485px;
    margin-right: 20px;
}
.content .section1 .sec_S .sec_sbig li{
    width: 190px;
    height: 153px;
    margin-bottom: 13px;
}
.content .section1 .sec_S .sec_sbig li.last{
    margin-bottom: 0;
}
.content .section1 .sec_S .sec_sbig li .liF{
    width: 190px;
    height: 123px;
    position: relative;
}
.content .section1 .sec_S .sec_sbig li .liF a{
    display: block;
    width: 190px;
    height: 123px;
}
.content .section1 .sec_S .sec_sbig li .liF a img{
    width: 190px;
    height: 123px;

}
.content .section1 .sec_S .sec_sbig li .liF .liS{
    width: 80px;
    padding-left: 110px;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}
.content .section1 .sec_S  .sec_sbig li .liF .liS span{
    height: 24px;
    line-height: 24px;
}
.content .section1 .sec_S .sec_sbig li .title{
    width: 180px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-weight: 600;
}
.content .section1 .sec_S .sec_ssmal{
    float: right;
    width: 260px;
    height: 485px;
}
.content .section1 .sec_S .sec_ssmal li{
    width: 260px;
    height: 153px;
    margin-bottom: 13px;
}
.content .section1 .sec_S .sec_ssmal li.last{
    margin-bottom: 0;
}
.content .section1 .sec_S .sec_ssmal li .liF{
    width: 260px;
    height: 123px;
    position: relative;
}
.content .section1 .sec_S .sec_ssmal li .liF a{
    display: block;
    width: 260px;
    height: 123px;
}
.content .section1 .sec_S .sec_ssmal li .liF a img{
    width: 260px;
    height: 123px;

}
.content .section1 .sec_S .sec_ssmal li .liF .liS{
    width: 80px;
    padding-left: 180px;
    height: 24px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
}
.content .section1 .sec_S  .sec_ssmal li .liF .liS span{
    height: 24px;
    line-height: 24px;
}
.content .section1 .sec_S  .sec_ssmal li .title{
    width: 250px;
    padding-left: 10px;
    height: 30px;
    line-height: 30px;
    color: #888;
    font-weight: 600;
}

/* 猜你喜欢样式设置 */
.section2{
    width: 100%;
    height:420px;
}
.section2 .side-left{
    width: 840px;
    height: 420px;
}
.side-left h2{
    width: 100%;
    height: 40px;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
}
.section2 .side-left .like{
    margin-top: 10px;
    width: 100%;
    height: 380px;
}
.section2 .side-left .like .item-like{
    width: 190px;
    height: 170px;
    padding: 0 20px 20px 0;
    float: left;
}
.section2 .side-left .like .item-like .pic-list{
    width: 190px;
    height: 150px;
}
.section2 .side-left .like .item-like .pic{
    width: 190px;
    height: 120px;
    position: relative;
}
.section2 .side-left .like .item-like .pic .pic-big{
    position: absolute;
    width: 190px;
    height: 120px;
    top:0;
    left: 0;
}
.section2 .side-left .like .item-like .pic .list{
    width: 190px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom:0;
    left: 0;
}
.section2 .side-left .like .item-like .pic .list .vid{
    color: #ffffff;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    right: 10px;
}
.section2 .side-left .like .item-like .pic .pic-small{
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: -25px;
    left: 5px;
}
.section2 .side-left .like .item-like .pic .list-tit{
    font-size: 12px;
    position: absolute;
    bottom: -25px;
    left: 50px;
}
.section2 .side-left .like .item-like p{
    margin-top: 5px;
    font-size: 14px;
    width: 190px;
    height: 17px;
    overflow: hidden;
}
.section2 .side-right{
    width: 280px;
    height: 420px;
}
.side-right h3{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-weight: normal;
    line-height: 40px;
}
.section2 .side-right .culm{
    width: 100%;
    height: 380px;
    margin-top: 10px;
}
.section2 .side-right .culm .culm-list{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: white;
    margin-bottom: 10px;
}
.section2 .side-right .culm .culm-list img{
    display: inline-block;
    width: 50px;
    height: 50px;
    vertical-align: middle;
}
.section2 .side-right .culm .culm-list .tit{
    font-size: 14px;
    margin-left: 10px;
}
.section2 .side-right .culm .culm-list .time{
    position: absolute;
    top: 15px;
    right: 5px;
    color: #aaaaaa;
    font-size: 12px;
}


/* 电影样式设置 */
.section3,.section4 {
    margin-top: 30px;
    width: 100%;
    height: 230px;
}
.side-left .movie-tit{
    width: 840px;
    height: 40px;
}
.side-left .movie-tit ul li{
    float: left;
}
.side-left .movie-tit ul li span{
    display: block;
    width: 1px;
    height: 16px;
    background-color: #aaaaaa;
    margin-top: 10px;
}
.side-left .movie-tit ul li.tit-item{
    width: 80px;
    height: 25px;
    margin-top: 5px;
    background-color: #fff;
}
.side-left .movie-tit ul li.first{
    margin-left: 10px;
}
.side-left .movie-tit ul li a{
    width: 80px;
    height: 25px;
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
}
.side-left .movie-tit ul li a.active{
    background-color: #e73c31;
    color: #ffffff;
}
.side-left .item{
    width: 840px;
    height: 170px;
    margin-top: 10px;
}
.side-left .item ul li{
    float: left;
    width: 190px;
    height: 170px;
    margin: 0 20px 20px 0;
}
.side-left .item ul li img{
    display: block;
    width: 190px;
    height: 120px;
}
.side-left .item ul li .smalltit{
    font-size: 12px;
    color: #aaaaaa;
    line-height: 10px;
}
.side-left .item ul li .pic-tit{
    margin-top: 5px;
    font-size: 14px;
    line-height: 30px;
}
.section3 .side-right ul {
    background-color: #fff;
    width: 260px;
    height: 170px;
    padding: 10px 10px 0 10px;
}
.section3 .side-right ul li {
    position: relative;
    width: 100%;
    height: 75px;
    padding-bottom: 10px;
}
.section3 .side-right ul li img{
    width: 120px;
    height: 75px;
    margin-right: 10px;
}
.section3 .side-right ul li span{
    position: absolute;
    right: 0;
    top: 15px;
    width: 130px;
    height: 48px;
    line-height: 24px;
    font-size: 14px;
}


/* 电视剧样式设置 */
.side-left .item ul li .picBox{
    width: 190px;
    height: 120px;
    position: relative;
}
.side-left .item ul li .picBox .bg{
    width: 190px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.side-left .item ul li .picBox .bg .count{
    position: absolute;
    bottom: 2px;
    right: 10px;
    color: #ffffff;
}
.section4 .side-right {

}
.section4 .side-right .list-names{
    padding: 2px;
    width: 276px;
    height: 180px;
    background-color: #fff;
}
.section4 .side-right .list-names ul li{

}
.section4 .side-right .list-names ul li .num{
    display: inline-block;
    text-align: center;
    line-height: 36px;
    width: 31px;
    height: 36px;
}
.section4 .side-right .list-names ul li a{
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    width: 90px;
    height: 36px;
    color: #000;
}

.section5 {
    margin-top: 30px;
    width: 100%;
    height: 230px;
}
.section5 .item{
    width: 100%;
}
/*底部样式设置开始*/
footer{
    width: 100%;
}

footer div{
    width: 100%;
}
footer div img{
    width: calc(100% - 50%);
    padding-left: 25%;
    padding-right: 25%;
    height: 60px;
    margin: 0 auto;
}
footer div p{
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
}
/*底部样式设置结束*/



